*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-box-sizing: border-box; 
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI/SegoeUI.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/SegoeUI/SegoeUI.woff') format('woff'), 
  url('../fonts/SegoeUI/SegoeUI.ttf')  format('truetype'), 
  url('../fonts/SegoeUI/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI-Bold/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/SegoeUI-Bold/SegoeUI-Bold.woff') format('woff'), 
  url('../fonts/SegoeUI-Bold/SegoeUI-Bold.ttf')  format('truetype'), 
  url('../fonts/SegoeUI-Bold/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
main {
  height: 900px;
}
body {
  font-family: SegoeUI;
  font-weight: normal;
  font-size: 30px;
  color: #464b4f;
  line-height: 1.6;
  height: 100%;
}
.banner {
  background-color: #282831;
  text-align: center;
  
}
.header {
  padding: 80px 0 92px;
}
.banner-content {
  padding: 71px 0 50px;
  color: #FFF;
  
}
.site-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 80px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 30px;
  letter-spacing: -3.5px;
}
.site-description {
  font-size: 17px;
  width: 458px;
  margin: 30px auto 90px;
  letter-spacing: 0.02em;
  padding-top: 16px;
}
.scroll {
  display: inline-block;
  height: 45px;
  width: 45px;
  border: 3px solid #fff;
  border-radius: 50%;
  transition: opacity .2s ease-in;
  margin-top: 93px;
}
.scroll:hover {
  opacity: .4;
}
.scroll img {
  display: inline-block;
  padding-bottom: 10px;
}
.site-content {
  background-image: url(../img/bg.jpg);
  padding: 41px 198px 0;
  width: 100%;
  height: 100%;
}
.text{
  font-family: sans-serif;
  font-weight: normal;
  margin: 70px auto 75px;
  text-align: center;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 0px;
  line-height: 1.5;
}
section {
  margin: 0 auto;
  display: block;
  text-align: center;
}
.what-i-do {
  font-size: 0;
}
.section-tittle {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 78px;
  text-align: center;
  letter-spacing: 1px;
}
.post-title {
  font-weight: bold;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
}
.post-content {
  text-align: left;
  margin-top: 0px;
  padding-bottom: 34px;
  padding-top: 16px;
  font-weight: normal;
  color: grey;
}
.what-i-do .post{
  display: inline-block;
  width: 33%;
  margin: 0 auto;
  font-size: 18px;
  vertical-align: top;
}



